/*
***************************************
Component: {{pascalCase name}}
Author: {{author}}
Description: {{description}}
***************************************
*/

const {{pascalCase name}} = () => (
  <div className="{{name}}">
    <h1>This is a {{name}} component!</h1>
  </div>
);

export default {{pascalCase name}};
